@use './util/' as u;

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: u.em(20);
    height: 100%;
    margin: 0;
    overflow: hidden;
    
}

.apparel-page {
    display: flex;
    flex-wrap: nowrap;
}

.image-div {
    height: 100vh;
    width: u.em(545);
    background-color: rgb(255, 255, 255);
    background-image: url('/Images/hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    
}

.info-div {
    height: 100vh;
    background-image: url('/Images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: u.em(890);
   

    .info-content {
        margin-left: u.em(140);
        margin-top: u.em(50);
    }

    .logo {
        margin-bottom: u.em(60);
    }
   
    .text {

        .small-txt {
            color: var( --red-desat);
            text-transform: uppercase;
            font-weight: 300;
            font-size: u.em(60);
            letter-spacing: u.em(5);
            margin-bottom: 0;

        }

        .large-txt {
            color: black;
            letter-spacing: u.em(4);
            font-size: u.em(60);
            margin-top: u.em(2);
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: 600;
            color: var(--dark-grey);


        }
    }

    .txt-info {
        width: u.em(420);
        margin-top: u.em(40);
        margin-right: 0;
        margin-bottom: u.em(50);
        line-height: u.em(25);
        font-weight: 400;
        color: var(--red-desat);
    }

.email-input {

    height: u.em(70);
    display: flex;
    direction: row;

#result {
    font-family: 'Josefin Sans', sans-serif;
    font-size: u.em(15);
    font-weight: 500;
    color: var(--red-desat);
    padding-left: u.em(22);
    margin-top: u.em(25);
}

#enterbtn {
    border-radius: u.em(35);
    width: u.em(80);
    height: u.em(80);
    background-color: var(--red-desat);
    border-style: none;
    background-image: url('/Images/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: u.em(-80);
    
}

    #email {
        border-radius: u.em(35);
        border-color: var(--red-desat);
        width: u.em(500);
        height: u.em(50);
        font-size: u.em(14);
        outline: none;
        border-style: solid;
      
    }
    ::placeholder {
        color: var(--red-desat);
        opacity: 1; 
        margin-left: u.em(30);
      }
      input[type="email" i] {
        padding-left: u.em(25);
    }

}

      
          
// media for responsive screen
} 

@media only screen
and (max-width : 417px) {

    body {
        overflow: scroll;
    }
    .image-div {
        position:absolute;
        top: 0px;
        background-image: url('/Images/hero-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        width: u.em(560);
    }

    .info-div {
        bottom: 0%;
        position: absolute;
        height: u.em(100);
        width: u.em(560);
        .info-content {
            margin-left: u.em(30)
            
        }
    
    }

   


}

@media only screen
and (min-width : 1440px) {

.image-div{

    
    width: u.em(700);
    background-image: url('/Images/hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    
}


}

